<%-contentFor('body') %>
  <h1>Главная</h1>
  <form action="/admin/direction/vipstatus">
    <button type="submit">VipStatus</button>
  </form>
  <form action="/admin/direction/linkDM">
    <button type="submit">Привязка акаунтов</button>
  </form>