<%-contentFor('body') %>
<script src="/js/admin/vipStatus.js"></script>
  <h1>Создание пользователя</h1>

  <form method="POST" action="/admin/direction/vipstatus/add/save">
    <label for="name">Id</label>
    <input type="text" name="id" required>
    <br>

    <label for="name">Имя:</label>
    <input type="text" name="name" required>
    <br>

    <label for="level">Уровень:</label>
    <input type="number" name="level" id="lvl" value="1" required>
    <button type="button" onclick="decreaseValue('lvl')">-</button>
    <button type="button" onclick="increaseValue('lvl')">+</button>
    <br>

    <label for="experience">Опыт:</label>
    <input type="number" name="experience" id="experience" value="0" required>
    <button type="button" onclick="updateValue('experience', -100)">-100</button>
    <button type="button" onclick="updateValue('experience', -10)">-10</button>
    <button type="button" onclick="updateValue('experience', -1)">-1</button>
    <button type="button" onclick="updateValue('experience', 1)">+1</button>
    <button type="button" onclick="updateValue('experience', 10)">+10</button>
    <button type="button" onclick="updateValue('experience', 100)">+100</button>
    <br>

    <label for="balance">Баланс:</label>
    <input type="number" name="money" id="balance" value="0" required>
    <button type="button" onclick="updateValue('balance', -100)">-100</button>
    <button type="button" onclick="updateValue('balance', -10)">-10</button>
    <button type="button" onclick="updateValue('balance', -1)">-1</button>
    <button type="button" onclick="updateValue('balance', 1)">+1</button>
    <button type="button" onclick="updateValue('balance', 10)">+10</button>
    <button type="button" onclick="updateValue('balance', 100)">+100</button>
    <br>

    <button type="submit">Сохранить</button>
    <button><a href="/admin/direction/vipstatus">Назад</a></button>
  </form>