<!doctype html>
<html>
<head>
    <title>RodoCraft</title>
</head>
<body>
	<header>
        <img src="/img/logo3.png" alt="RodoCraft логотип" height="100" width="100">
    </header>
    <%- body %>
</body>
</html>