<!DOCTYPE html>
<html>
<head>
  <title>Главная</title>
</head>
<body>
  <h1>Главная</h1>
  <form action="/admin/direction/vipstatus">
    <button type="submit">VipStatus</button>
  </form>
</body>
</html>